__pycache__/
*.py[cod]
*$py.class


venv/
.env/
.venv/
env/

.env


build/
dist/
*.egg-info/


*.log


.DS_Store
Thumbs.db


.vscode/
.idea/
.vercel/


.python-version


.coverage
htmlcov/
*.tmp
*.swp


.ipynb_checkpoints/


node_modules/

